<div class="container">
  <p
    >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Et ultrices neque ornare aenean euismod. Tristique senectus et netus et malesuada fames ac turpis. Odio ut
    enim blandit volutpat maecenas. Ac turpis egestas integer eget aliquet nibh praesent tristique magna. Habitasse
    platea dictumst quisque sagittis purus sit amet volutpat consequat. Quis hendrerit dolor magna eget est lorem. Ac
    turpis egestas maecenas pharetra convallis posuere morbi. In metus vulputate eu scelerisque felis imperdiet proin
    fermentum leo. In tellus integer feugiat scelerisque varius morbi. Duis at consectetur lorem donec massa sapien
    faucibus et molestie. Diam maecenas sed enim ut sem viverra aliquet eget. Porta non pulvinar neque laoreet
    suspendisse interdum consectetur. Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna. In hendrerit
    gravida rutrum quisque non tellus orci. Nunc consequat interdum varius sit amet mattis vulputate enim nulla. Feugiat
    in fermentum posuere urna. Amet aliquam id diam maecenas ultricies mi. Nisi lacus sed viverra tellus.
  </p>
  <p
    >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Et ultrices neque ornare aenean euismod. Tristique senectus et netus et malesuada fames ac turpis. Odio ut
    enim blandit volutpat maecenas. Ac turpis egestas integer eget aliquet nibh praesent tristique magna. Habitasse
    platea dictumst quisque sagittis purus sit amet volutpat consequat. Quis hendrerit dolor magna eget est lorem. Ac
    turpis egestas maecenas pharetra convallis posuere morbi. In metus vulputate eu scelerisque felis imperdiet proin
    fermentum leo. In tellus integer feugiat scelerisque varius morbi. Duis at consectetur lorem donec massa sapien
    faucibus et molestie. Diam maecenas sed enim ut sem viverra aliquet eget. Porta non pulvinar neque laoreet
    suspendisse interdum consectetur. Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna. In hendrerit
    gravida rutrum quisque non tellus orci. Nunc consequat interdum varius sit amet mattis vulputate enim nulla. Feugiat
    in fermentum posuere urna. Amet aliquam id diam maecenas ultricies mi. Nisi lacus sed viverra tellus.
  </p>
  <br />
  <div class="centered">
    <app-theme-switch></app-theme-switch>
  </div>
</div>
